//Widescreens
@include mediaSm {
  .lg-heading {
    line-height: 0.9;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    background: rgba(darken($primary-color, 5), 0.95);
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/new_smImg.png');
      width: 150px;
      height: 150px;
    }
  }

  #about {
    h1 {
      font-size: 4rem;
      padding-top: 2rem;
    }
    .bio-title {
      height: 15px;
      line-height: 34px;
    }
    .bio-text {
      font-size: 18px;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
    .bio-image {
      content: url('../img/new_smImg.png');
    }

    #margin-mobile {
      margin-top: 2rem;
      margin-bottom: -1.5rem;
    }
  }

  #contact, #work, #about {
    .lg-heading {
      font-size: 4.5rem;
      padding-top: 2rem;
    }
  }
  .boxes {
    margin-top: 2rem;
    div {
      font-size: 1rem;
      padding: 1.2rem 2rem;
      margin-bottom: 2rem;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  main#home h1 {
    margin-top: 15vh;
    font-weight: 400;
    font-size: 5rem;
  }
  main {
    padding: 1.2rem;
    align-items: center;
    text-align: center;

    .sm-heading {
      font-size: 1.4rem;
    }
  }
  .icons {
    width: 150px;
    margin: 0 auto;
    a {
      float: left;
    }
  }
}

//Desktops & Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
  }

  .lg-heading {
    line-height: 0.9;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  main#home h1 {
    font-size: 5rem;
  }

  .menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    background: rgba(darken($primary-color, 5), 0.95);
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/new_smImg.png');
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
    .bio-image {
      content: url('../img/portrait3.png');
    }
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .icons {
    a {
      float: left;
      position: relative;
      left: 30%;
    }
  }
}

//Tablets
@include mediaLg {
  .sm-heading {
    max-width: 515px;
  }

  #about {
    .bio-image {
      content: url('../img/portrait3.png');
    }
    img {
      transform: translate(0, 30%);
    }
    .bio {
      margin-top: 2rem;
    }
  }
}

//Smartphones
@include mediaXl {
  .sm-heading {
    max-width: 515px;
  }
  #about {
    .bio {
      margin-top: 2rem;
    }
    img {
      transform: translate(0, 3%);
    }
  }
}
